<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Tsukari - Dashboard Login</title>
    <%- include("./templates/head.ejs") %>
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="77">
    <%- include("./templates/navbar",{li:[{href:"../",name:"home"}]}) %>

    <header class="masthead" style="background-color: var(--bs-gray-400)">
        <div class="intro-body" style="color: var(--bs-light);">
            <div class="container">
                <div class="row" style="color: var(--bs-dark);">
                    <h1>Login</h1>
                    <div class="col-lg-6 mx-auto">
                        <a id="login" class="btn btn-primary" style="display: block;" href="<%= oauth2LoginURL %>">Sing in with discord</a>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <footer>
        <div class="container text-center">
            <p>Copyright ©&nbsp;MoonL 2021</p>
        </div>
    </footer>
    <%- include("./templates/scripts") %>
	<script>
        let status = '<%- status %>'
	</script>
</body>

</html>