<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Commands List</title>
    <%- include("./template/head.ejs") %>
    <link rel="stylesheet" href="/stylesheets/commands.css"> 
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="77">
    <%- include("./template/nav.ejs",{li:[{name:"Text Commands",href:"?type=text"},{name:"Slash Commands",href:"?type=slash"}]}) %>
    <header class="masthead">
        <div class="intro-body" style="background: var(--bs-dark);color: var(--bs-light);">
            <section style="background: var(--bs-dark);" class="content-section">
                <div class="input-group" id="search-input"><input type="text" class="bg-light form-control border-0 small" placeholder="Search for ..." value="<%- search %>"/>
                    <button class="btn btn-primary py-0" type="button" onclick="inputchange(this)">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
                <select style="width: 80%;margin-left: auto;margin-right: auto;" class="form-select" onchange="selectchange(this)">
                    <option value="text" id="selectText">Text Commands</option>
                    <option value="slash" id="selectSlash">Slash Commands</option>
                </select>
                <% if(type === "text") { %>
                    <h1>Text Commands</h1>
                <% } %>
                <% if(type === "slash") { %>
                    <h1>Slash Commands</h1>
                <% } %>
                <% if(type === "text") { %>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="text-gray-400">[] means Required</div>
                        </div>
                        <div class="col-md-6">
                            <div class="text-gray-400"><> means Optional</div>
                        </div>
                    </div>
                <% } %>
                <div class="table-responsive">
                    <table class="table text-dark" style="color: var(--bs-gray-400);border-top: 1px solid black;margin-top: 3rem !important;border: 1px solid black;width: 90%;margin: auto;" id="tablePlaceHolder">
    
                    </table>
                </div>

            </section>
        </div>
    </header>
    <footer>
        <div class="container text-center">
            <p>Copyright ©&nbsp;MoonL 2021</p>
        </div>
    </footer>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/grayscale.js"></script>
    <script>
        let slash = '<%- JSON.stringify(slashes) %>'
        let text = '<%- encodeURIComponent(JSON.stringify(commands)) %>'
        let search = '<%- search %>'
        let type = '<%- type %>'

        if(type !== "slash" && type !== "text"){
            type = "text"
        }

        if(type === "text"){
            document.getElementById("selectText").selected = true
        }else if (type === "slash"){
            document.getElementById("selectSlash").selected = true
        }

    </script>
    <script src="javascripts/commandlist.js"></script>
</body>

</html>