<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Commands List</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
    <link rel="stylesheet" href="fonts/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/untitled.css">
    <link rel="stylesheet" href="stylesheets/commands.css">
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="77">
    <nav class="navbar navbar-light navbar-expand-md fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand text-capitalize" href="https://MoonL.me/" style="color: #42dca3;">MoonL</a><a class="navbar-brand text-capitalize" style="color: #42dca3;">|</a><a class="navbar-brand text-capitalize" id="title" href="./" style="color: #42dca3;">Tsukari</a><button data-bs-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-bs-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive" style="color: var(--bs-secondary);">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item nav-link"><a class="nav-link" href="?type=text">Text Commands</a></li>
                    <li class="nav-item nav-link"><a class="nav-link" href="?type=slash">Slash Commands</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead" style="background-color:grey">
        <div class="intro-body" style="background: var(--bs-gray-400);color: var(--bs-light);">
            <section style="background: var(--bs-dark);" class="content-section">
                <div class="input-group" id="search-input"><input type="text" class="bg-light form-control border-0 small" placeholder="Search for ..." value="<%- search %>"/>
                    <button class="btn btn-primary py-0" type="button" onclick="inputchange(this)">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
                <select style="width: 80%;margin-left: auto;margin-right: auto;" class="form-select" onchange="selectchange(this)">
                    <option value="text" id="selectText">Text Commands</option>
                    <option value="slash" id="selectSlash">Slash Commands</option>
                </select>
                <% if(type === "text") { %>
                    <h1>Text Commands</h1>
                <% } %>
                <% if(type === "slash") { %>
                    <h1>Slash Commands</h1>
                <% } %>
                <div class="table-responsive">
                    <table class="table" style="color: var(--bs-gray-400);border-top: 1px solid var(--bs-gray-400);margin-top: 3rem !important;border: 1px solid var(--bs-gray-400);width: 90%;margin: auto;" id="tablePlaceHolder">
    
                    </table>
                </div>
            </section>
        </div>
    </header>
    <footer>
        <div class="container text-center">
            <p>Copyright ©&nbsp;MoonL 2021</p>
        </div>
    </footer>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/grayscale.js"></script>
    <script>
        let slash = '<%- JSON.stringify(slashes) %>'
        let text = '<%- JSON.stringify(commands) %>'
        let search = '<%- search %>'
        let type = '<%- type %>'

        if(type !== "slash" && type !== "text"){
            type = "text"
        }

        if(type === "text"){
            document.getElementById("selectText").selected = true
        }else if (type === "slash"){
            document.getElementById("selectSlash").selected = true
        }

    </script>
    <script src="javascripts/commandlist.js"></script>
</body>

</html>